// Generic
body{
	background: #EBECED !important;
}
.page{
	min-height: 80vh;
}
// Generic



// pages/user-profile
.user-profile{
	width: 78%;
	margin: auto;
	background: white;
	min-height: 100vh;
	margin-top: 30px;
	border-radius: 5px;
	padding: 35px;
}
.bio-user{
	text-align: center;
	margin-top: 30px;
}
.username {
	color: gray;
	margin: 0px;
}
.name-profile{
	margin: 0px;
}
// Pages/user-profile


// SettingsPanel
.settings-icon{
	position: fixed;
	right: 0px;
	top: 100px;
}
// SettingsPanel


// components/Login
.link{
	color: purple;
	cursor: pointer;
	&:hover{		
		opacity: 0.8;
	}
}
.login-register{
	background: white;
	width: 35%;
	margin: auto;
	padding: 50px;
	border-radius: 5px;
	margin-top: 40px;
	.signup-panel{
		display: none;
	}
	.login-panel{
		display: block;
	}
}
.login-register-show {
	.signup-panel{
		display: block;
	}
	.login-panel{
		display: none;
	}
}

.signup-panel{
	//display: none;
}
.login-form{
	width: 100%;
}
// components/Login


// Footer
footer{
	background: white;
	margin-top: 30px;
	padding: 30px 0px;
	text-align: center;
}
// Footer
