
@media (max-width: 992px) {
	.user-profile{
		width: 95%;
	}
	.login-register{
		width: 90%;
	}
}


@media (max-width: 767px) {
	.user-profile{
		width: 100%;
	}
	.login-register{
		width: 95%;
	}
}
